@import './variables'

ri-m-noPaddingMargin()
  padding 0
  margin 0

ri-m-unstyleList()
  ri-m-noPaddingMargin()
  list-style none

ri-m-regularText($color = $ri-textColor)
  ri-m-noPaddingMargin()
  color $color
  font-size 1.4rem

ri-m-titleText($color = $ri-primaryColor)
  ri-m-noPaddingMargin()
  color $color
  font-size 2rem

ri-m-subtitleText($color = $ri-secondaryColor)
  ri-m-noPaddingMargin()
  color $color
  font-size 1.6rem

