// https://coolors.co/283d3b-197278-fcf9f7-c44536-772e25
$ri-red = #c44536
$ri-darkRed = #772e25
$ri-blue = #197278
$ri-darkGray = #283d3b
$ri-floralWhite = #fcf9f7

$ri-primaryColor = $ri-red
$ri-secondaryColor = $ri-darkRed
$ri-tertiaryColor = $ri-blue
$ri-textColor = $ri-darkGray
$ri-backgroundColor = $ri-floralWhite

$ri-baseMargin = 0.8rem
$ri-body-maxWidth = 1200px
