// https://coolors.co/283d3b-197278-fcf9f7-c44536-772e25
$ri-red = #c44536
$ri-darkRed = #772e25
$ri-blue = #197278
$ri-darkGray = #283d3b
$ri-floralWhite = #fcf9f7

$ri-primaryColor = $ri-red
$ri-secondaryColor = $ri-darkRed
$ri-tertiaryColor = $ri-blue
$ri-textColor = $ri-darkGray
$ri-backgroundColor = $ri-floralWhite

$ri-baseMargin = 1.2rem
$ri-fontSize = 1.6rem
$ri-fontSize--title = 2.6rem
$ri-fontSize--subtitle = 2rem
$ri-borderWidth = 0.25 * $ri-baseMargin

$ri-body-maxWidth = 1200px
