$ri-breakpoint-minLarge = 1024px
$ri-breakpoint-minMedium = 768px
$ri-breakpoint-minSmall = 500px

$ri-baseMargin = 1.2rem
$ri-fontSize = 1.6rem
$ri-fontSize--title = 2.6rem
$ri-fontSize--subtitle = 2rem
$ri-borderWidth = 0.25 * $ri-baseMargin

$ri-body-maxWidth = 1200px

$ri-menu-titleFontSize = 2rem
